<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        let PAGE_MAX_WIDTH=750,
            BASE_FONT_SIZE=50;
        !function () {
            let DOC_ROOT_STYLE=document.documentElement.style,
                docEle=document.documentElement||document.body;
            window.addEventListener('load',resizeFontSize);
            window.addEventListener('resize',resizeFontSize);
            resizeFontSize()
            function resizeFontSize() {
                let clientWidth=Math.max(docEle.clientWidth||0,window.innerWidth||0);
                DOC_ROOT_STYLE.fontSize=Math.min(clientWidth/PAGE_MAX_WIDTH*BASE_FONT_SIZE,BASE_FONT_SIZE)+'px';
            }
        }();
    </script>
</head>
<body>
    <div id='app'>hello webpackA</div>
    <div id="toB">Go to B</div>
    <img src="<%= require('./images/3.jpg') %>"/>
</body>
</html>